._*
*~
*.7z
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
*.aux
.bower-cache
bower_components
.bower-registry
.bower-tmp
_build/
/.build/
build.js
build/Release
bundle
bundle.js
*.bz2
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
*.chi
*.chs.h
.completer.hist
coverage
*.dat
data
db
dist
.DocumentRevisions-V100
._.DS_Store
.DS_Store
*.dyn_hi
*.dyn_o
*.egg
*.elf
.fseventsd
.grunt
*.gz
*.hi
*.hp
.hpc
.hsenv
Icon
.idea
*.key
*.ko
lib-cov
*.lock
.lock-wscript
*.log
logs
.LSOverride
.netrwhist
Network Trash Folder
node_modules
npm-debug.log*
*.o
*.obj
*.out
output
*.pid
pids
*.prof
.psci*
public/lib
.pulp-cache
__pycache__/
*$py.class
*.py[cod]
_references.js
.sass-cache
*.seed
*.so
*.so.*
.Spotlight-V100
src/.webpack.js
*.swp
*.tar
.TemporaryItems
Temporary Items
*.tmp
.Trashes
.vimsession~
.virtualenv
.VolumeIcon.icns
.vscode
x/
